@import "tailwindcss";


@theme {
    --color-primary: #19253c;
    --color-primary-darker: #162037;
    --color-primary-darkest: #111a2e;
    --color-primary-lighter: #222e45;
}

@layer base {
    body {
        font-optical-sizing: auto;
        font-style: normal;
        font-feature-settings: "cv02","cv03","cv04","cv11";
        font-family: "Inter","ui-sans-serif","system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,"sans-serif",Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    }
}
@layer utilities {
    .dots-pattern {
        background-image: radial-gradient(var(--color-slate-200) 2px, transparent 2px);
        background-size: 32px 32px;
    }


    .line-pattern {
        background-color: var(--color-slate-100);
        background-image: linear-gradient(to left, transparent 0%, var(--color-slate-50) 100%), repeating-linear-gradient(90deg, var(--color-slate-200), var(--color-slate-200) 1px, var(--color-slate-100) 1px, var(--color-slate-100));
        background-size: 100% 100%, 64px 64px;
    }

    .cross-pattern {
        background-color: var(--color-primary);
        background:
            radial-gradient(circle, transparent 20%, var(--color-primary) 20%, var(--color-primary) 80%, transparent 80%, transparent),
            radial-gradient(circle, transparent 20%, var(--color-primary) 20%, var(--color-primary) 80%, transparent 80%, transparent) 37.5px 37.5px,
            linear-gradient(var(--color-primary-darker) 3px, transparent 3px) 0 -1.5px,
            linear-gradient(90deg, var(--color-primary-darker) 3px, var(--color-primary) 3px) -1.5px 0;
        background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
    }

    .grid-pattern {
        background-image: linear-gradient(to bottom right, transparent 0%, var(--color-slate-50) 100%), linear-gradient(var(--color-slate-200) 1px, transparent 1px), linear-gradient(to right, var(--color-slate-200) 1px, var(--color-slate-50) 1px);
        background-size: 100% 100%, 64px 64px, 64px 64px;
    }

    .vignette {
        box-shadow: 0 0 200px rgba(0,0,0,0.5) inset;
    }
}
